openapi: "3.0.3"
info:
  title: DailyTickers Portfolio API
  version: "1.0.0"
  description: >
    Free JSON endpoints to replicate the DailyTickers 3 specialized scanner portfolios (Balanced, Dynamic, Secured).
    Updated every trading session (~23:00 UTC weekdays). No authentication required.
  contact:
    url: https://articles.dailytickers.com/integrations/portfolio/
servers:
  - url: https://articles.dailytickers.com/portfolio/v1/{mode}
    description: Mode-specific endpoints
    variables:
      mode:
        default: "balanced"
        enum:
          - "balanced"
          - "dynamic"
          - "secured"
        description: Portfolio mode (balanced, dynamic, or secured)

paths:
  /signals.json:
    get:
      summary: Latest scanner signals
      description: Current scan picks with entry, stop, and target levels for the selected mode.
      responses:
        "200":
          description: Current scan picks with levels
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  signals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Signal"

  /positions.json:
    get:
      summary: Open positions with live P&L
      description: Current open positions for the selected mode with entry, current price, return %, and days remaining.
      responses:
        "200":
          description: Current open positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  positions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Position"

  /trades.json:
    get:
      summary: Closed trade history
      description: All closed trades for the selected mode with P&L%, hold days, and exit reason.
      responses:
        "200":
          description: All closed trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  trades:
                    type: array
                    items:
                      $ref: "#/components/schemas/Trade"

  /equity.json:
    get:
      summary: Portfolio stats and equity curve
      description: Simulation statistics (return, drawdown, win rate, profit factor) and equity curve data points for the selected mode.
      responses:
        "200":
          description: Statistics and equity curve
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  config:
                    $ref: "#/components/schemas/Config"
                  stats:
                    $ref: "#/components/schemas/Stats"
                  equityCurve:
                    $ref: "#/components/schemas/EquityCurve"

  /orders.json:
    get:
      summary: Buy/rotate orders to place
      description: Orders to execute at next market open for the selected mode based on available slots and signal strength.
      responses:
        "200":
          description: Orders to execute at next market open
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"

  /actions.json:
    get:
      summary: Positions requiring action (close or check)
      description: Positions in the selected mode that have exceeded their horizon (close now) or expire tomorrow (review needed).
      responses:
        "200":
          description: Expired and expiring positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  closeNow:
                    type: array
                    description: Horizon expired — exit at market open
                    items:
                      $ref: "#/components/schemas/CloseAction"
                  expiresTomorrow:
                    type: array
                    description: Horizon reached at next close — decide keep or exit
                    items:
                      $ref: "#/components/schemas/ExpiresAction"

  /winning-streaks.json:
    get:
      summary: Win/loss streaks for the selected mode
      description: >
        Aggregate streak metrics computed from the mode's closed trades ledger.
        Useful for social-proof, dashboards, or feeding a "hot hand" widget.
      responses:
        "200":
          description: Streak snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  currentStreak: { type: integer, description: "Trailing consecutive wins", example: 2 }
                  bestStreak: { type: integer, description: "Longest win streak in history", example: 9 }
                  bestStreakStart: { type: string, format: date, nullable: true }
                  bestStreakEnd: { type: string, format: date, nullable: true }
                  totalWins: { type: integer, example: 43 }
                  totalLosses: { type: integer, example: 34 }
                  totalTrades: { type: integer, example: 77 }
                  winRate: { type: number, description: "Percentage, 0-100", example: 55.8 }

  /all.json:
    get:
      summary: Full portfolio state (all data in one call)
      description: >
        Single endpoint for LLM analysis — combines signals, orders, positions,
        actions, trades, equity, and config in one response.
      responses:
        "200":
          description: Complete portfolio snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  config: { $ref: "#/components/schemas/Config" }
                  stats: { $ref: "#/components/schemas/Stats" }
                  equityCurve: { $ref: "#/components/schemas/EquityCurve" }
                  signals: { type: array, items: { $ref: "#/components/schemas/Signal" } }
                  orders: { type: array, items: { $ref: "#/components/schemas/Order" } }
                  positions: { type: array, items: { $ref: "#/components/schemas/Position" } }
                  closeNow: { type: array, items: { $ref: "#/components/schemas/CloseAction" } }
                  expiresTomorrow: { type: array, items: { $ref: "#/components/schemas/ExpiresAction" } }
                  closedTrades: { type: array, items: { $ref: "#/components/schemas/Trade" } }

components:
  schemas:
    Signal:
      type: object
      properties:
        ticker: { type: string, example: "XOM" }
        score: { type: integer, example: 93 }
        strategy: { type: string, example: "Momentum" }
        entry: { type: string, example: "$170-$173" }
        stop: { type: string, example: "$162" }
        tp1: { type: string, example: "$185" }
        tp2: { type: string, example: "$195" }
        rr: { type: string, example: "1:1.6" }
        thesis: { type: string }

    Position:
      type: object
      properties:
        ticker: { type: string, example: "PSX" }
        entry: { type: number, example: 181.9 }
        currentPrice: { type: number, example: 184.81 }
        returnPct: { type: number, example: 1.6 }
        stop: { type: number, example: 168 }
        tp1: { type: number }
        tp2: { type: number }
        scanDate: { type: string, format: date }
        daysRemaining: { type: integer, example: 0 }

    Trade:
      type: object
      properties:
        ticker: { type: string, example: "UBER" }
        scanDate: { type: string, format: date }
        entryDate: { type: string, format: date }
        entry: { type: number, example: 73.9 }
        exitPrice: { type: number, example: 75.44 }
        pnlPct: { type: number, example: 2.06 }
        holdDays: { type: integer, example: 5 }
        status: { type: string, enum: [tp1, tp2, sl, expired, rotated] }
        strategy: { type: string }

    Order:
      type: object
      properties:
        ticker: { type: string, example: "XOM" }
        action: { type: string, enum: [BUY, ROTATE] }
        score: { type: integer }
        strategy: { type: string }
        entry: { type: string }
        stop: { type: string }
        tp1: { type: string }
        tp2: { type: string }
        rr: { type: string }
        replaces: { type: string, nullable: true }
        thesis: { type: string }

    CloseAction:
      type: object
      properties:
        ticker: { type: string }
        scanDate: { type: string, format: date }
        entry: { type: number }
        currentPrice: { type: number }
        returnPct: { type: number }
        daysHeld: { type: integer }
        horizon: { type: integer }

    ExpiresAction:
      type: object
      properties:
        ticker: { type: string }
        entry: { type: number }
        returnPct: { type: number }
        stop: { type: number }
        daysHeld: { type: integer }
        horizon: { type: integer }

    Config:
      type: object
      properties:
        label: { type: string, example: "Balanced" }
        color: { type: string, example: "#059669" }
        goal: { type: string, example: "Risk-Adjusted Growth" }
        riskProfile: { type: string, enum: [Low, Medium, High] }
        portfolioSize: { type: integer, example: 2 }
        topN: { type: integer, example: 1 }
        minScore: { type: integer, example: 85 }
        horizon: { type: integer, example: 5 }
        filterName: { type: string, example: "breakout_only" }
        rotation: { type: string, example: "daily_max1" }
        partialTP: { type: boolean }
        trailingStop: { type: boolean }
        maxStopPct: { type: number }
        atrStopMult: { type: number }
        dailyTrailPct: { type: number }
        breakevenPct: { type: number }

    Stats:
      type: object
      properties:
        ret: { type: number, description: "Total cumulative return %", example: 45.2 }
        dd: { type: number, description: "Max drawdown %", example: -3.8 }
        wr: { type: number, description: "Win rate %", example: 68.2 }
        pf: { type: number, description: "Profit factor", example: 2.15 }
        rr: { type: number, description: "Reward/Risk ratio", example: 1.6 }
        trades: { type: integer, example: 22 }
        avgWin: { type: number }
        avgLoss: { type: number }
        avgHold: { type: number, description: "Average hold days", example: 4.2 }
        score: { type: number, description: "Composite score (0-100)", example: 88.5 }
        r2: { type: number, description: "Linearity (equity curve quality)", example: 0.94 }

    EquityCurve:
      type: object
      properties:
        d: { type: array, items: { type: string }, description: "Dates (MM/DD format)" }
        v: { type: array, items: { type: number }, description: "Equity values (base 100)" }
