openapi: "3.0.3"
info:
  title: DailyTickers Portfolio API
  version: "1.4.1"
  description: >
    Free JSON endpoints to replicate the DailyTickers portfolios (5 modes: Best, Turbo, Dynamic,
    Balanced, Fortress). Best is engine-backed (systematic-tss): its signals come from the engine
    pool, not from the scanner, and its equity.json carries an extra `engineBacktest` block.
    The four others are scanner modes.
    Updated every trading session (~23:00 UTC weekdays). No authentication required.
    Changelog 1.4.0 (2026-08-12): catalogue cut from 21 to 5 modes. The 17 removed ids
    (secured, tkl, alpha, aplus, highvol, hybrid, forex, etf, etf_eu, etf_us, stockbox,
    stockbox_pit, factor, book_honest, us_highvol, hvep, ep) were still advertised in the mode
    enum and all returned 404; `best`, the only newly published directory, was missing from it.
    Changelog 1.4.1 (2026-08-29): documented the existing root /rotation.json endpoint.
    Also documented: /risk.json, /modes.json, /regime.json, /config-history.json,
    /instruments.json, and the response fields (status, reliability, engineBacktest, risk,
    scanDate) that the generator has been emitting.
  contact:
    url: https://articles.dailytickers.com/integrations/portfolio/
servers:
  - url: https://articles.dailytickers.com/portfolio/v1/{mode}
    description: Mode-specific endpoints
    variables:
      mode:
        default: "balanced"
        enum:
          - "best"
          - "turbo"
          - "dynamic"
          - "balanced"
          - "fortress"
        description: >
          Portfolio mode. Exactly the 5 directories published under /portfolio/v1/.
          Discover them at runtime via /portfolio/v1/modes.json rather than hardcoding this list.
  - url: https://articles.dailytickers.com/portfolio/v1
    description: Root endpoints (no mode prefix) — modes overview, regime, status, config-history, instruments

paths:
  /signals.json:
    get:
      summary: Latest scanner signals
      description: Current scan picks with entry, stop, and target levels for the selected mode.
      responses:
        "200":
          description: Current scan picks with levels
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  signals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Signal"

  /positions.json:
    get:
      summary: Open positions with live P&L
      description: Current open positions for the selected mode with entry, current price, return %, and days remaining.
      responses:
        "200":
          description: Current open positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  positions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Position"

  /trades.json:
    get:
      summary: Closed trade history
      description: All closed trades for the selected mode with P&L%, hold days, and exit reason.
      responses:
        "200":
          description: All closed trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  trades:
                    type: array
                    items:
                      $ref: "#/components/schemas/Trade"

  /equity.json:
    get:
      summary: Portfolio stats and equity curve
      description: Simulation statistics (return, drawdown, win rate, profit factor) and equity curve data points for the selected mode.
      responses:
        "200":
          description: Statistics and equity curve
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  status:
                    $ref: "#/components/schemas/ModeStatus"
                  config:
                    $ref: "#/components/schemas/Config"
                  stats:
                    $ref: "#/components/schemas/Stats"
                  reliability:
                    $ref: "#/components/schemas/Reliability"
                  engineBacktest:
                    $ref: "#/components/schemas/EngineBacktest"
                  equityCurve:
                    $ref: "#/components/schemas/EquityCurve"

  /orders.json:
    get:
      summary: Buy/rotate orders to place
      description: Orders to execute at next market open for the selected mode based on available slots and signal strength.
      responses:
        "200":
          description: Orders to execute at next market open
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"

  /actions.json:
    get:
      summary: Positions requiring action (close or check)
      description: Positions in the selected mode that have exceeded their horizon (close now) or expire tomorrow (review needed).
      responses:
        "200":
          description: Expired and expiring positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  mode: { type: string, example: "balanced" }
                  closeNow:
                    type: array
                    description: Horizon expired — exit at market open
                    items:
                      $ref: "#/components/schemas/CloseAction"
                  expiresTomorrow:
                    type: array
                    description: Horizon reached at next close — decide keep or exit
                    items:
                      $ref: "#/components/schemas/ExpiresAction"

  /winning-streaks.json:
    get:
      summary: Win/loss streaks for the selected mode
      description: >
        Aggregate streak metrics computed from the mode's closed trades ledger.
        Useful for social-proof, dashboards, or feeding a "hot hand" widget.
      responses:
        "200":
          description: Streak snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  currentStreak: { type: integer, description: "Trailing consecutive wins", example: 2 }
                  bestStreak: { type: integer, description: "Longest win streak in history", example: 9 }
                  bestStreakStart: { type: string, format: date, nullable: true }
                  bestStreakEnd: { type: string, format: date, nullable: true }
                  totalWins: { type: integer, example: 43 }
                  totalLosses: { type: integer, example: 34 }
                  totalTrades: { type: integer, example: 77 }
                  winRate: { type: number, description: "Percentage, 0-100", example: 55.8 }

  /risk.json:
    get:
      summary: Risk snapshot for the selected mode
      description: >
        VaR / expected-shortfall, stress scenarios, correlation stats and the current regime
        probability distribution for the mode, plus its benchmark (SPY) comparison.
        Numeric risk fields are null when the mode holds no position or when the upstream
        risk service is unavailable — read `risk.status` and `notes` before using them.
      responses:
        "200":
          description: Risk snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  mode: { type: string, example: "balanced" }
                  status: { $ref: "#/components/schemas/ModeStatus" }
                  configVersion: { type: string, nullable: true, example: "v10.9" }
                  regime: { type: string, nullable: true, example: "EARLY RISK-OFF" }
                  notes:
                    type: array
                    description: Degradation notices (e.g. correlation matrix unavailable).
                    items: { type: string }
                  bench:
                    type: object
                    description: Benchmark comparison over the mode's live period.
                    properties:
                      spy:
                        type: object
                        properties:
                          returnTotal: { type: number, example: 0.094032 }
                          sharpe: { type: number, example: 1.2693 }
                          period:
                            type: object
                            properties:
                              start: { type: string, format: date }
                              end: { type: string, format: date }
                          updated_at: { type: string, format: date-time }
                      alpha: { type: number, description: "Mode return minus SPY return, in percentage points", example: 35.3268 }
                  risk:
                    type: object
                    properties:
                      status: { type: string, enum: [ok, no_positions, unavailable], example: "ok" }
                      asOf: { type: string, format: date-time }
                      var95_5d: { type: number, nullable: true, description: "5-day 95% Value at Risk" }
                      var99_5d: { type: number, nullable: true, description: "5-day 99% Value at Risk" }
                      expectedShortfall95_5d: { type: number, nullable: true }
                      portfolioValueUsd: { type: number, nullable: true }
                      maxPairwiseCorrelation: { type: number, nullable: true }
                      avgCorrelation: { type: number, nullable: true }
                      method: { type: string, nullable: true }
                      stressScenarios:
                        type: array
                        items: { type: object, additionalProperties: true }
                      regimeProbability:
                        $ref: "#/components/schemas/RegimeProbability"

  /all.json:
    get:
      summary: Full portfolio state (all data in one call)
      description: >
        Single endpoint for LLM analysis — combines signals, orders, positions,
        actions, trades, equity, and config in one response.
      responses:
        "200":
          description: Complete portfolio snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  scanDate: { type: string, format: date, description: "Scan session the signals/orders come from" }
                  mode: { type: string, example: "balanced" }
                  status: { $ref: "#/components/schemas/ModeStatus" }
                  config: { $ref: "#/components/schemas/Config" }
                  stats: { $ref: "#/components/schemas/Stats" }
                  equityCurve: { $ref: "#/components/schemas/EquityCurve" }
                  signals: { type: array, items: { $ref: "#/components/schemas/Signal" } }
                  orders: { type: array, items: { $ref: "#/components/schemas/Order" } }
                  positions: { type: array, items: { $ref: "#/components/schemas/Position" } }
                  closeNow: { type: array, items: { $ref: "#/components/schemas/CloseAction" } }
                  expiresTomorrow: { type: array, items: { $ref: "#/components/schemas/ExpiresAction" } }
                  closedTrades: { type: array, items: { $ref: "#/components/schemas/Trade" } }
                  risk: { type: object, description: "Same payload as the mode's /risk.json `risk` object.", additionalProperties: true }

  /status.json:
    servers:
      - url: https://articles.dailytickers.com/portfolio/v1
        description: Root endpoint (no mode prefix)
    get:
      summary: Mode status (state machine snapshot)
      description: >
        Aggregate snapshot of every mode's lifecycle state (draft, test, deploying,
        live, pausing, liquidated, paused, stopped) plus the last 20 status transitions.
        Lightweight endpoint for integrations that only need to know whether a mode
        accepts new entries.
      responses:
        "200":
          description: Status snapshot for all modes
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  configVersion: { type: string, nullable: true, example: "v5.3-20260508" }
                  modes:
                    type: object
                    additionalProperties:
                      $ref: "#/components/schemas/ModeStatus"
                  recentTransitions:
                    type: array
                    items:
                      $ref: "#/components/schemas/ModeStatusTransition"

  /modes.json:
    servers:
      - url: https://articles.dailytickers.com/portfolio/v1
        description: Root endpoint (no mode prefix)
    get:
      summary: Modes overview (mode discovery)
      description: >
        One entry per published mode with its label, colour, lifecycle status, headline stats
        and current position/order counts. This is the authoritative list of modes — clients
        should read it instead of hardcoding mode ids.
      responses:
        "200":
          description: Overview of every published mode
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  date: { type: string, format: date }
                  configVersion: { type: string, nullable: true, example: "v10.9" }
                  regime: { type: string, nullable: true, example: "EARLY RISK-OFF" }
                  modes:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, example: "best" }
                        label: { type: string, example: "Best" }
                        color: { type: string, example: "#2563eb" }
                        status: { $ref: "#/components/schemas/ModeStatus" }
                        stats: { $ref: "#/components/schemas/Stats" }
                        positionCount: { type: integer, example: 0 }
                        orderCount: { type: integer, example: 18 }
                        portfolioSize: { type: integer, example: 15 }

  /regime.json:
    servers:
      - url: https://articles.dailytickers.com/portfolio/v1
        description: Root endpoint (no mode prefix)
    get:
      summary: Current market regime
      description: Regime label driving every mode's gating, plus the probability distribution behind it.
      responses:
        "200":
          description: Regime snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  configVersion: { type: string, nullable: true, example: "v10.9" }
                  regimeLabel: { type: string, example: "EARLY RISK-OFF" }
                  regimeProbability: { $ref: "#/components/schemas/RegimeProbability" }

  /config-history.json:
    servers:
      - url: https://articles.dailytickers.com/portfolio/v1
        description: Root endpoint (no mode prefix)
    get:
      summary: Config version history
      description: >
        Append-only history of config versions. Each entry carries the per-mode config that was
        active from that version on — the reference for reproducing a trade's `configVersion`.
      responses:
        "200":
          description: Config versions, oldest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt: { type: string, format: date-time }
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, example: "v1-20260215" }
                        timestamp: { type: string, format: date-time }
                        regime: { type: string, example: "MIXED" }
                        config:
                          type: object
                          description: Per-mode config keyed by mode id, as of this version.
                          additionalProperties: { $ref: "#/components/schemas/Config" }

  /instruments.json:
    servers:
      - url: https://articles.dailytickers.com/portfolio/v1
        description: Root endpoint (no mode prefix)
    get:
      summary: Broker instrument coverage
      description: >
        Per-symbol tradability across the supported brokers (exchange, tradable/marginable/
        shortable flags, min order size, price increment). Large payload — cache it.
      responses:
        "200":
          description: Instrument coverage map
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated_at: { type: string, format: date-time }
                  source: { type: string, example: "tools/trading-executor/instruments/" }
                  brokers:
                    type: array
                    items: { type: string, example: "alpaca" }
                  symbol_count: { type: integer, example: 68251 }
                  symbols:
                    type: object
                    description: Keyed by symbol.
                    additionalProperties:
                      type: object
                      properties:
                        name: { type: string }
                        brokers:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              symbol: { type: string }
                              exchange: { type: string }
                              tradable: { type: boolean }
                              marginable: { type: boolean }
                              shortable: { type: boolean }
                              min_order_size: { type: number }
                              price_increment: { type: number }

  /rotation.json:
    servers:
      - url: https://articles.dailytickers.com/portfolio/v1
        description: Root endpoint (no mode prefix)
    get:
      summary: Cross-asset sector rotation snapshot
      description: >
        Sector ETF performance, bellwethers and beta-ranked references used by the
        public rotation dashboard. This is descriptive market context, not an order feed.
      responses:
        "200":
          description: Latest rotation snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema: { type: string, example: "rotation-beta.v1" }
                  updated: { type: string, format: date-time }
                  asof: { type: string, format: date }
                  window: { type: object, additionalProperties: true }
                  note: { type: string }
                  sectors:
                    type: array
                    items: { type: object, additionalProperties: true }
                  references:
                    type: array
                    items: { type: object, additionalProperties: true }

components:
  schemas:
    Signal:
      type: object
      properties:
        ticker: { type: string, example: "XOM" }
        score: { type: integer, example: 93 }
        strategy: { type: string, example: "Momentum" }
        entry: { type: number, example: 170.50 }
        stop: { type: number, example: 162.00 }
        tp1: { type: number, example: 185.00 }
        tp2: { type: number, example: 195.00 }
        rr: { type: string, example: "1:1.6" }
        sharia: { type: boolean, nullable: true, example: true }
        thesis: { type: string }

    Position:
      type: object
      properties:
        ticker: { type: string, example: "PSX" }
        entry: { type: number, example: 181.9 }
        currentPrice: { type: number, example: 184.81 }
        returnPct: { type: number, example: 1.6 }
        stop: { type: number, example: 168 }
        tp1: { type: number }
        tp2: { type: number }
        scanDate: { type: string, format: date }
        daysRemaining: { type: integer, example: 0 }

    Trade:
      type: object
      properties:
        ticker: { type: string, example: "UBER" }
        scanDate: { type: string, format: date }
        entryDate: { type: string, format: date }
        entry: { type: number, example: 73.9 }
        exitPrice: { type: number, example: 75.44 }
        pnlPct: { type: number, example: 2.06 }
        holdDays: { type: integer, example: 5 }
        status: { type: string, enum: [tp1, tp2, sl, expired, rotated, breakeven] }
        strategy: { type: string }
        configVersion: { type: string, nullable: true, description: "Config version active when trade was opened", example: "v2-20260418" }

    Order:
      type: object
      properties:
        ticker: { type: string, example: "XOM" }
        action: { type: string, enum: [BUY, ROTATE] }
        score: { type: integer }
        strategy: { type: string }
        entry: { type: number, example: 170.50 }
        stop: { type: number, example: 162.00 }
        tp1: { type: number, example: 185.00 }
        tp2: { type: number, example: 195.00 }
        rr: { type: string }
        sharia: { type: boolean, nullable: true }
        replaces: { type: string, nullable: true }
        thesis: { type: string }

    CloseAction:
      type: object
      properties:
        ticker: { type: string }
        scanDate: { type: string, format: date }
        entry: { type: number }
        currentPrice: { type: number }
        returnPct: { type: number }
        daysHeld: { type: integer }
        horizon: { type: integer }

    ExpiresAction:
      type: object
      properties:
        ticker: { type: string }
        entry: { type: number }
        returnPct: { type: number }
        stop: { type: number }
        daysHeld: { type: integer }
        horizon: { type: integer }

    Config:
      type: object
      description: >
        Live config of the mode as served in equity.json / all.json. The active config version id
        and the regime are NOT inside this object — read them from the root /regime.json and
        /config-history.json, or from a trade's `configVersion`.
      properties:
        label: { type: string, example: "Balanced" }
        color: { type: string, example: "#059669" }
        portfolioSize: { type: integer, example: 3 }
        topN: { type: integer, example: 1 }
        minScore: { type: integer, example: 85 }
        horizon: { type: integer, example: 6 }
        filterName: { type: string, description: "Strategy filter applied to candidates; `dtx_engine` for the engine-backed mode.", example: "mom_bo" }
        rotation: { type: string, example: "daily_max1" }
        partialTP: { type: boolean }
        trailingStop: { type: boolean }
        maxStopPct: { type: number, description: "Hard stop cap in %, 0 = keep the stop carried by the signal (engine-backed modes).", example: 7 }
        atrStopMult: { type: number, description: "ATR stop multiple, 0 = keep the stop carried by the signal.", example: 1.8 }
        dailyTrailPct: { type: number }
        breakevenPct: { type: number }
        positionSizePct: { type: number, example: 1 }
        ddBreakerPct: { type: number, description: "Drawdown circuit breaker threshold in %", example: 8 }
        sectorCapMax: { type: integer, description: "Max simultaneous positions per sector, 0 = no cap", example: 0 }
        sizingMethod: { type: string, nullable: true, example: "inverse_atr" }
        targetRiskPct: { type: number, example: 1 }
        vixKillThreshold: { type: number, example: 30 }
        correlationCap: { type: number, description: "Max pairwise correlation allowed between open positions, 0 = no cap", example: 0 }
        crossModeDedup: { type: boolean }

    Stats:
      type: object
      description: >
        Simulation statistics computed from the mode's sealed (frozen) closed-trades ledger
        via point-in-time position weighting. All returns are in percent, base 100.
      properties:
        ret: { type: number, description: "Total cumulative return % (realized + unrealized)", example: 45.2 }
        realized: { type: number, description: "Realized cumulative return % from closed trades", example: 45.2 }
        unrealized: { type: number, description: "Unrealized return % contributed by still-open positions (marked-to-market)", example: 0 }
        dd: { type: number, description: "Max drawdown % (negative)", example: -3.8 }
        wr: { type: number, description: "Win rate %", example: 68.2 }
        pf: { type: number, description: "Profit factor (gross wins / gross losses)", example: 2.15 }
        pfLow: { type: number, description: "Lower bound of the profit-factor confidence interval", example: 1.32 }
        pfHigh: { type: number, description: "Upper bound of the profit-factor confidence interval", example: 8.76 }
        pfReliable: { type: boolean, description: "True when the profit-factor sample is large enough to be statistically reliable", example: false }
        trades: { type: integer, description: "Number of closed trades in the sealed ledger", example: 22 }
        avgHold: { type: number, description: "Average hold days", example: 4.2 }
        cagr: { type: number, description: "Compound annualized growth rate %", example: 120.4 }
        sharpe: { type: number, description: "Sharpe ratio of the equity curve", example: 2.1 }
        r2: { type: number, description: "Linearity of the equity curve (0-1, higher = smoother/more reliable)", example: 0.94 }
        oosWarn:
          type: object
          nullable: true
          description: >
            Out-of-sample degradation flag; null when no warning. When present, compares
            in-sample to out-of-sample performance — treat the in-sample stats as overfit-prone.
          properties:
            isWR: { type: number, description: "In-sample win rate %", example: 53.5 }
            oosWR: { type: number, description: "Out-of-sample win rate %", example: 23.5 }
            isPF: { type: number, example: 3.46 }
            oosPF: { type: number, example: 0.26 }
            oosTrades: { type: integer, example: 17 }
            wrDelta: { type: number, description: "isWR - oosWR, in points", example: 30 }

    Reliability:
      type: object
      description: Sample-size and out-of-sample disclosures attached to the mode's stats.
      properties:
        sample_period_days: { type: integer, nullable: true, example: 158 }
        sample_period_start: { type: string, nullable: true, description: "First equity-curve label (MM/DD for scanner modes, YYYY-MM-DD for the engine-backed mode)" }
        sample_period_end: { type: string, nullable: true }
        closed_trades: { type: integer, example: 79 }
        statistically_reliable: { type: boolean, description: "True at n>=30 closed trades" }
        pf_reliable: { type: boolean, description: "True at n>=50 closed trades" }
        pf_low: { type: number, nullable: true, description: "Bootstrapped 90% CI lower bound for profit factor" }
        pf_high: { type: number, nullable: true }
        out_of_sample_warning:
          type: object
          nullable: true
          description: Same payload as Stats.oosWarn.
        warnings:
          type: array
          items: { type: string }

    EngineBacktest:
      type: object
      description: >
        Engine-backed modes only (assetClass `dtx`). Replay metrics read as-is from the engine —
        never recomputed here. The equity curve of these modes is sampled at rebalance dates,
        so a drawdown recomputed from `equityCurve` UNDERSTATES the real one: use `max_dd_pct`.
      properties:
        source: { type: string, example: "systematic-tss engine (dtx) — replay metrics, authoritative" }
        as_of: { type: string, format: date, nullable: true }
        from: { type: string, format: date, nullable: true }
        to: { type: string, format: date, nullable: true }
        return_pct: { type: number, nullable: true }
        cagr_pct: { type: number, nullable: true }
        max_dd_pct: { type: number, nullable: true }
        sharpe: { type: number, nullable: true }
        r2: { type: number, nullable: true }
        win_rate: { type: number, nullable: true }
        total_trades: { type: integer, nullable: true }
        curve_resolution: { type: string, example: "rebalance dates (~13 calendar days), NOT daily" }
        curve_warning: { type: string }

    RegimeProbability:
      type: object
      description: Regime state probabilities, refreshed with the nightly market context.
      properties:
        status: { type: string, nullable: true, example: "ok" }
        asOf: { type: string, format: date-time }
        source: { type: string, example: "mcp_connected:GetMarketContext(facets=regime)" }
        currentState: { type: string, example: "risk_on" }
        currentStateConfidence: { type: number, example: 0.531 }
        regimeScore: { type: number, example: 1.3 }
        probabilities:
          type: object
          additionalProperties: { type: number }
        transition5d:
          type: object
          description: Probability of being in each state 5 sessions from now.
          additionalProperties: { type: number }
        expectedReturnSpyPct: { type: number, example: 0.283 }
        expectedDrawdownPct: { type: number, example: 1.969 }
        model: { type: string }

    EquityCurve:
      type: object
      properties:
        d: { type: array, items: { type: string }, description: "Dates (MM/DD format)" }
        v: { type: array, items: { type: number }, description: "Equity values (base 100)" }

    ModeStatus:
      type: object
      description: >
        Lifecycle state for a mode. Embedded as `status` in every mode-scoped endpoint
        (signals/positions/trades/equity/orders/actions/all/risk) and in the modes.json /
        status.json aggregates.
      properties:
        state:
          type: string
          enum: [draft, test, deploying, live, pausing, liquidated, paused, stopped]
          description: Current state in the lifecycle state machine.
        since:
          type: string
          format: date-time
          nullable: true
          description: Timestamp the mode entered this state.
        reason:
          type: string
          nullable: true
          description: Free-form reason recorded with the latest transition.
        acceptsNewEntries:
          type: boolean
          description: True for `live` and `test`. Consumers should not place new buy orders if false.
        exitsOnly:
          type: boolean
          description: True for `pausing` — open positions must be wound down, no new entries.
        forceLiquidate:
          type: boolean
          description: True for `liquidated` — close every position at next open, ignoring SL/TP/horizon.
        publiclyVisible:
          type: boolean
          description: False for `draft` and `stopped` — hide from default UI listings.
        tradingMode:
          type: string
          enum: [real, paper, paper-ramp, exit-only, none]
          description: >
            Execution policy implied by the state.
            `real` = live orders.
            `paper` = simulated only.
            `paper-ramp` = `deploying` ramp-up, paper executions pending live promotion.
            `exit-only` = no new entries; existing positions wind down via normal SL/TP/horizon/trailing.
            `none` = no trading activity.
        nextReviewAt:
          type: string
          format: date
          nullable: true
          description: Optional review date (manual checkpoint).

    ModeStatusTransition:
      type: object
      properties:
        mode: { type: string, example: "best" }
        from:
          type: string
          enum: [draft, test, deploying, live, pausing, liquidated, paused, stopped]
        to:
          type: string
          enum: [draft, test, deploying, live, pausing, liquidated, paused, stopped]
        at: { type: string, format: date-time }
        reason: { type: string, nullable: true }
        by: { type: string, example: "manual" }
        nextReviewAt: { type: string, format: date, nullable: true }
